body {
    font-family: Arial, sans-serif;
}

.mat-card {
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.img {
    border-radius: 5px 5px 0 0;
}

.mat-card-content {
    padding: 15px;
}

h2 {
    color: #333;
}

.work-section, .education-section, .awards-section, .courses-section, .skills-section, .languages-section, .interests-section {
    margin-bottom: 50px;
}

.work-section h3, .education-section h3, .awards-section h3, .courses-section h3, .skills-section h3, .languages-section h3, .interests-section h3 {
    color: #333;
    margin-bottom: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
